In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Sales dataset.csv')
df.head()

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.000000
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.000000
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.000000
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.000000
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,10740,05-06-2017,58644,Central America,130.490005,1,149.990005,-63.80%,-95.650002,149.990005

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115746 entries, 0 to 115745
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Additional Order items  114722 non-null  object
 1   Category Name           115746 non-null  object
 2   Customer City           115746 non-null  object
 3   Customer Country        115746 non-null  object
 4   Customer Fname          115746 non-null  object
 5   Customer Id             115746 non-null  int64
 6   Customer Segment        115746 non-null  object
 7   Customer State          115746 non-null  object
 8   Customer Zipcode        115743 non-null  float64
 9   Market                  115746 non-null  object
 10  Order Customer Id       115746 non-null  int64
 11  Order Date              115746 non-null  object
 12  Order Id                115746 non-null  int64
 13  Order Region            115746 non-null  object
 14  Order Item Total        115746 non-null  float64
 15  Order Quantity          115746 non-null  int64
 16  Product Price           115746 non-null  float64
 17  Profit Margin           115746 non-null  object
 18  Profit Per Order        115746 non-null  float64
 19  Sales                   115746 non-null  float64
dtypes: float64(5), int64(4), object(11)
memory usage: 17.7+ MB

In [5]:
df['Order Date']=pd.to_datetime(df['Order Date'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_4760\1722919639.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order Date']=pd.to_datetime(df['Order Date'])

In [6]:
df['Year']=df['Order Date'].dt.year

In [7]:
df['Month']=df['Order Date'].dt.month

In [8]:
df['Day']=df['Order Date'].dt.day

In [10]:
df['Order Quantity']=df['Sales']/df['Order Quantity']

In [13]:
df['Profit Margin']=df['Profit Per Order']/df['Sales']

In [17]:
df = df.replace([float('inf'), -float('inf')], 0)

In [18]:
df=df.drop(['Order Date'], axis=1)

In [19]:
df.head()

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,...,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales,Year,Month,Day
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,...,South America,269.980011,800.000000,299.980011,0.097863,78.290001,800.000000,2017,6,17
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,...,South America,269.980011,800.000000,299.980011,-0.020250,-16.200001,800.000000,2017,4,18
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,...,Central America,263.980011,800.000000,299.980011,0.014525,11.620000,800.000000,2017,5,24
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,...,Central America,260.980011,800.000000,299.980011,-0.004238,-3.390000,800.000000,2017,5,24
4,Hunting & Shooting,Hunting & Shooting,Caguas,Puerto Rico,Mary,10740,Consumer,PR,725.0,LATAM,...,Central America,130.490005,149.990005,149.990005,-0.637709,-95.650002,149.990005,2017,6,5