In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [4]:
df.columns=['CustomerID', 'Gender', 'Age', 'AnnualIncome', 'SpendingScore']

In [5]:
df['Age_Group']=pd.cut(
    df['Age'],
    bins=[0,20,35,60,100],
    labels=['Teen', 'Young Adult', 'Adult', 'Senior']
)

In [8]:
df['Income_Level']=pd.cut(
    df['AnnualIncome'],
    bins=[0,40,70,150],
    labels=['Low', 'Medium', 'High']
)

In [9]:
df['Spending_Type']=df['SpendingScore'].apply(
    lambda x: 'Low Spender' if x<40 else 'Medium spender' if x<70 else 'High Spender'
)

In [10]:
df['Gender_Num']=df['Gender'].map({'Male': 0, 'Female': 1})

In [11]:
df.head()

,CustomerID,Gender,Age,AnnualIncome,SpendingScore,Age_Group,Income_Level,Spending_Type,Gender_Num
0,1,Male,19,15,39,Teen,Low,Low Spender,0
1,2,Male,21,15,81,Young Adult,Low,High Spender,0
2,3,Female,20,16,6,Teen,Low,Low Spender,1
3,4,Female,23,16,77,Young Adult,Low,High Spender,1
4,5,Female,31,17,40,Young Adult,Low,Medium spender,1